worker_processes  1;

user root;

error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
  accept_mutex off;
}

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;
  log_format main '$remote_addr - $remote_user [$time_local]'
                  '"$request" $status $body_bytes_sent'
                  '"$http_referer" "$http_user_agent"'
                  '"$http_x_forwarded_for"';
  access_log /var/log/nginx/access.log main;
  sendfile on;

  upstream rest_api {
    least_conn;
    {% for etcd_number in range(1, CLUSTER_SIZE + 1) %}
        server app_{{ etcd_number }}:8000 max_fails=1 fail_timeout=5s;
    {% endfor %}
  }

  server {
    listen 80 default_server;
    client_max_body_size 4G;

    server_name example.com www.example.com;

    keepalive_timeout 5;
    charset utf-8;

    location / {
      proxy_pass http://rest_api;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Real-IP $remote_addr;
    }

  }
}
