#!/bin/bash

{% for etcd_number in range(1, CLUSTER_SIZE + 1) %}
    docker run -d --name app_{{ etcd_number }} \
    --network etcd_cluster \
    --hostname app_{{ etcd_number }} \
    --env ETCD_HOST=etcd_{{ etcd_number }} \
    registry.gitlab.com/anti-musor/microservice:latest
{% endfor %}
