#!/bin/bash

docker network create -d bridge etcd_cluster

{% for etcd_number in range(1, CLUSTER_SIZE + 1) %}
    docker run -d --name etcd_{{ etcd_number }} \
    --network etcd_cluster \
    --env ETCDCTL_API=3 \
    --env ETCD_NAME=etcd_{{ etcd_number }} \
    --env ETCD_DISCOVERY={{ token['content'] }} \
    --env ALLOW_NONE_AUTHENTICATION=yes \
    --env ETCD_ADVERTISE_CLIENT_URLS=http://etcd_{{ etcd_number }}:2379 \
    --env ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379 \
    --env ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd_{{ etcd_number }}:2380 \
    --env ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380 \
    --hostname etcd_{{ etcd_number }} bitnami/etcd:3.3.12


{% endfor %}


